*, *::before, *::after{
  box-sizing: border-box;
}

body {
  padding: 4rem;
  line-height: 1.44;
  font-size: 22px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
}

video, img {
  display: block;
  width: 100%;
  max-width: 100%;
}

p {
  margin: 0 0 2.5em 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  margin: 0 0 .5em 0;
}

a {
  color: #3B5BDB;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.invis-link {
  color: #000;
  text-decoration: none;
}

.invis-link:hover {
  text-decoration: underline;
}

.x {
  margin: 0 auto;
  max-width: 900px;
}

:root {
  --gutter-width: calc(100vw / 2 - 450px)
}

.parent-container {
  display: flex;
  margin-bottom: 5rem;
}

.left-container {
  width: calc((var(--gutter-width) * .75) + 50%);
  margin-left: calc(var(--gutter-width) * -.75);
}

.right-container {
  width: calc((var(--gutter-width) * .75) + 50%);
  margin-right: calc(var(--gutter-width) * -.75);
}

.right-container__inner-shrunk {
  padding: .5rem 7rem;
}

.parent-container--shift-right-and-up {
  margin-top: -6.5rem;
  margin-right: calc(var(--gutter-width) * -.75);
}

.parent-container--shift-right-and-up .left-container {
  width: calc(60% - 3rem);
  margin-right: 3rem;
  margin-left: 0;
}

.parent-container--shift-right-and-up .right-container {
  width: 40%;
}




.info-box {
  position: relative;
  padding: 3rem;
  background-color: #F1F3F5;
}

.info-box__main-icon {
  position: absolute;
  top: 12px;
  left: -78px;
  width: 60px;
}

.info-box__inner-icon {
  position: relative;
  left: -25%;
  margin: -1em auto 1.5em;
  width: 26px;
}

.creativity-container {
  position: absolute;
  bottom: 0;
  right: 24px;
  width: 82px;
  height: 82px;
  transform: translateY(50%);
}

.platforms-text-container {
  position: relative;
  left: 30%;
  margin-top: 1.5rem;
}

.parentheses-container {
  display: inline-block;
  margin-bottom: 1rem;
  padding: 4px 24px;
  background-image: url(/media/paren-left.svg), url(/media/paren-right.svg);
  background-position: left center, right center;
  background-repeat: no-repeat, no-repeat;
}






@media (max-width: 1200px) {
  .parent-container--shift-right-and-up {
    margin-top: -4.5rem;
  }

  .platforms-text-container {
    margin-top: 3rem;
  }
}

@media (max-width: 1100px) {
  .parent-container--shift-right-and-up {
    margin-top: -2rem;
  }
}

@media (max-width: 990px) {
  .parent-container {
    display: block;
    margin-bottom: 7rem;
  }

  .parent-container--shift-right-and-up {
    margin-right: 0;
  }

  .left-container, .parent-container--shift-right-and-up .left-container {
    width: 100%;
    margin: 0 0 4rem 0;
  }

  .right-container, .parent-container--shift-right-and-up .right-container {
    width: 100%;
    margin: 0;
  }

  .right-container__inner-shrunk {
    padding: 0;
  }

  .platforms-text-container {
    left: 0;
    margin-left: 20%;
  }
}

@media (max-width: 600px) {
  body {
    padding: 1.5rem;
  }

  ul {
    padding-left: 1.5rem;
  }

  .platforms-text-container {
    margin-left: 5%;
  }
}



























