body {
  padding: 4rem;
  line-height: 1.44;
  font-size: 22px;
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 600;
}

video, img {
  display: block;
  width: 100%;
  max-width: 100%;
}

p {
  margin: 0 0 2.5em 0;
}

ul {
  margin: 0;
}

li {
  margin: 1em 0;
}

a {
  color: #3B5BDB;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

.invis-link {
  color: #000;
  text-decoration: none;
}

.invis-link:hover {
  text-decoration: underline;
}

.x {
  margin: 0 auto;
  max-width: 900px;
}

:root {
  --gutter-width: calc(100vw / 2 - 450px)
}

.parent-container {
  display: flex;
}

.left-container {
  width: calc((var(--gutter-width) * .75) + 50%);
  margin-left: calc(var(--gutter-width) * -.75);
}

.right-container {
  width: calc((var(--gutter-width) * .75) + 50%);
  margin-right: calc(var(--gutter-width) * -.75);
}




.info-box {
  position: relative;
  padding: 3rem;
  background-color: #F1F3F5;
}

.info-box__icon {
  position: absolute;
  top: 12px;
  left: -78px;
  width: 60px;
}

.creativity-container {
  position: absolute;
  bottom: 0;
  right: 24px;
  width: 82px;
  height: 82px;
  transform: translateY(50%);
}
































